<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('styles/base.css') }}">
    <title>Task 11</title>

</head>
<body>
<header>
    <h3 class="h1-header">Backend3</h3>
    <a class="button-header" href="{{ path('show_home') }}">Mockups</a>
</header>
<div class="content">
    <h1 class="content-header">Mockups</h1>
    <ul>
        <li><a href="{{ path('quiz_show') }}">Quiz</a></li>
        <li><a href="{{ path('quiz_result') }}">QuizResult</a></li>
    </ul>
</div>
<div class="line"></div>
<footer>© 2023 - Backend3</footer>
</body>
</html>
